<div class="container text-center">
    <div class="row">
        <div class="col">
            {{#each posts as |post| }}
            <div class="card w-75 mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.body}}</p>
                    <p class="card-text">Posted on {{post.date_created}}</p>
                    <button class="btn btn-primary" id="blog-list" data-id="{{post.id}}">Delete</a>
                </div>
            </div>

            {{/each}}
        </div>
        <div class="col">
             <div class="col-md-6">
    <h3>Create a New Blog Post:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-title">Blog Title:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" />
      </div>
      <div class="form-group">
        <label for="blog-text"></label>
        <textarea class="form-input" id="blog-text" name="blog-text"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
            </div>


            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{email}}</p>
                    <a href="#" class="btn btn-primary">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/dashboard.js"></script>